# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/src/Windows/.vs
/src/Windows/DesktopDirector.Console/obj
/src/Windows/DesktopDirector.Spike.Console/bin/Debug/net6.0
/src/Windows/DesktopDirector.Spike.Console/obj
/.vs
/src/Windows/DesktopDirector.ArduinoInterface/bin/Debug/net6.0
/src/Windows/DesktopDirector.ArduinoInterface/obj
/src/Windows/DesktopDirector.AudioDeviceCmdlets/bin/Debug/net6.0
/src/Windows/DesktopDirector.AudioDeviceCmdlets/obj
/src/Windows/DesktopDirector.Console/bin/Debug/net6.0
/src/Windows/DesktopDirectore.Plugins/bin/Debug/net6.0
/src/Windows/DesktopDirectore.Plugins/obj
/src/Windows/DesktopDirector.Ui/bin/Debug/net6.0-windows10.0.19041.0/win10-x64
/src/Windows/DesktopDirector.Ui/obj
/src/Windows/DesktopDirector.Ui/bin/Debug
/src/Windows/DesktopDirectore.Application/obj
